{% extends "base.html" %}
{% block content %}
    <img 
        src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d8/League_of_Legends_2019_vector.svg/220px-League_of_Legends_2019_vector.svg.png"
        width="100px"
        height = "100px"
    />
    <p>
        <h2>
            half_bottle
        </h2><br/>
    </p>
<div>
    <img 
        src="/static/edu/image/profile.jpg" 
        width="100px"/>
    
    <p>
        <button>
            프로필 편집
        </button><br/>
    </p>
</div>
    <p>
        <strong>    
        노은규(eungyu no)<br/>
        </strong>
        작가<br/>
        <a href="{% url 'edu:new_content'%}">새글등록</a>
    </p>
    <ul>
        {% for feed in feed_list %}
        <li>
            {{feed.content}}
            <img src="/media/{{feed.photo}}" width="100px"/>
        </li>
        {%endfor%}
    </ul>
    <p>
        
        needleworm.github.io<br/>
    </p>
    
    <div>
        <div>
            <div>
                <img src ="/static/edu/image/hl 1.jpg" height = "40px"/>
            </div>
            😺
        </div>
        <div>
            <div>
                <img src ="/static/edu/image/hl 2.jpg" height = "40px"/>
            </div>
            🐱‍👤
        </div>
    </div>
    
    <p>
        게시물<br/>
        팔로워<br/>
        팔로우<br/>
        133<br/>
        408<br/>
        189 <br/>
    </p>
    
    <p>
        <a href = "https://www.leagueoflegends.com/ko-kr/" >
            리그오브레전드
        </a>
    </p>

    <div>
        <img src ="/static/edu/image/thumbnails/1.jpg" width ="32%">
        <img src ="/static/edu/image/thumbnails/2.jpg" width ="32%">
        <img src ="/static/edu/image/thumbnails/3.jpg" width ="32%">    
        <img src ="/static/edu/image/thumbnails/4.jpg" width ="32%">    
        <img src ="/static/edu/image/thumbnails/5.jpg" width ="32%">    
        <img src ="/static/edu/image/thumbnails/6.jpg" width ="32%">    
        <img src ="/static/edu/image/thumbnails/7.jpg" width ="32%">        
        <img src ="/static/edu/image/thumbnails/8.jpg" width ="32%">    
        <img src ="/static/edu/image/thumbnails/9.jpg" width ="32%">    
            
    </div>
{% endblock content %}