{% extends "base.html" %}
{% block content %}
    <img 
        src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d8/League_of_Legends_2019_vector.svg/220px-League_of_Legends_2019_vector.svg.png"
        width="600px"
        height = "300px"
    />
    <p>
        <h2>
            half_bottle
        </h2><br/>
    </p>
    <p>
        <button>
            프로필 편집
        </button><br/>
    </p>
    <p>
        <strong>    
        노은규(eungyu no)<br/>
        </strong>
        작가<br/>
    </p>
    <p>
        
        needleworm.github.io<br/>
    </p>
    <p>
        게시물<br/>
        팔로워<br/>
        팔로우<br/>
        133<br/>
        408<br/>
        189 <br/>
    </p>
    <p>
        <a href = "https://www.leagueoflegends.com/ko-kr/" >
            리그오브레전드
        </a>
    </p>
{% endblock content %}